header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-menuitems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1rem;
}